@model ASP2184587.Models.producto

@{
    ViewBag.Title = "Delete";
}

<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Estas seguro de Eliminar Este Producto?
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:100%">
                    <thead>

                        <div>
                            
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    nombre
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.nombre)
                                </dd>

                                <dt>
                                    percio_unitario
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.percio_unitario)
                                </dd>

                                <dt>
                                    descripcion
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.descripcion)
                                </dd>

                                <dt>
                                    cantidad
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.cantidad)
                                </dd>

                                <dt>
                                    proveedor.nombre
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.proveedor.nombre)
                                </dd>

                            </dl>




                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input class="btn btn-danger" type="submit" value="Eliminar" />
    <a class="btn btn-primary" href="/producto/Index">Volver a la lista <span class="glyphicon glyphicon-hand-left"></span></a>
</div>
}
</div>
