@model ASP2184587.Models.producto

@{
    ViewBag.Title = "Details";
}

<h2>Detalle Producto</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            percio unitario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.percio_unitario)
        </dd>

        <dt>
            descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            proveedor.nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proveedor.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id } , new { @class = "btn btn-warning" })
    <a class="btn btn-success" href="/producto/Index">Volver a la lista <span class="glyphicon glyphicon-hand-left"></span></a>
</p>
