@model IEnumerable<ASP2184587.Models.producto>

@{
    ViewBag.Title = "Index";
}





        <div class="card">
            <div class="card-header">
                Lista de Productos
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>nombre</th>
                            <th>precio_unitario</th>
                            <th>descripcion</th>
                            <th>cantidad</th>
                            <th>proveedor.nombre </th>
                        </tr>
                    </thead>




                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.percio_unitario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.proveedor.nombre)
                            </td>
                            <td>

                                <a class="btn btn-warning" href="/producto/Edit/@item.id">Edit <span class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-info" href="/producto/Details/@item.id">Details <span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="btn btn-danger" href="/producto/Delete/@item.id">Delete <span class="glyphicon glyphicon-trash"></span></a>

                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>





@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿ Esta seguro de eliminar ?')) {
                event.preventDefault();
            }
        })
    </script>
}


        <div class="card">
            <div class="card-header">
                <thead>
                    <tr>
                        <th>Crear Producto</th>

                    </tr>
                </thead>
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:50%">
                    <thead>
                        <tr>

                            <p>
                                <a class="btn btn-success" href="/producto/Create">Crear Nuevo Porducto <span class="glyphicon glyphicon-folder-open"></span></a>
                            </p>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>




