@model IEnumerable<ASP2184587.Models.reporte>

@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<br>


<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">

                <center>  <h1 class="titulo">Reporte</h1> </center>
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:100%">
                    <thead>
                        <table class="table">
                            <tr>
                                <th>Proveedor</th>
                                <th>Proveedor Telefono</th>
                                <th>Proveedor Direccion</th>
                                <th>Producto</th>
                                <th>Producto Precio</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>


                                    <td>@Html.DisplayFor(modelItem => item.nombreProveedor)</td>
                                    <td>@Html.DisplayFor(modelItem => item.telefonoProveedor)</td>
                                    <td>@Html.DisplayFor(modelItem => item.direccionProveedor)</td>
                                    <td>@Html.DisplayFor(modelItem => item.nombreProducto)</td>
                                    <td>@Html.DisplayFor(modelItem => item.precioProducto)</td>
                                </tr>
                            }
                        </table>






                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<br>
<br>
<br>
<br>
<br>
<a class="btn btn-info" href="ImprimirReporte">Descargar Reporte <span class="glyphicon glyphicon-save"></span></a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Sena_Colombia_logo.svg" alt="Alternate Text" />

