@model ASP2184587.Models.compra

@{
    ViewBag.Title = "Delete";
}
<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Estas seguro de Eliminar?
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:100%">
                    <thead>

                        <div>

                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    fecha
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.fecha)
                                </dd>

                                <dt>
                                    total
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.total)
                                </dd>

                                <dt>
                                    cliente nombre
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.cliente.nombre)
                                </dd>

                                <dt>
                                    usuario nombre
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.usuario.nombre)
                                </dd>

                            </dl>




                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>




    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input class="btn btn-danger" type="submit" value="Eliminar" />
    <a class="btn btn-success" href="/compras/Index">Volver a la lista <span class="glyphicon glyphicon-hand-left"></span></a>
</div>
    }

