@model ASP2184587.Models.compra

@{
    ViewBag.Title = "Details";
}

<h2>Editar Compra</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            total
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            cliente nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nombre)
        </dd>

        <dt>
            usuario nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
