@model IEnumerable<ASP2184587.Models.proveedor>

@{
    ViewBag.Title = "Index";
}


<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Lista de Proveedores
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Nombre de Contacto</th>
                        </tr>
                    </thead>




                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombre_contacto)
                            </td>
                            <td>

                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Detalle", "Details", new { id = item.id }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

    </div>

</div>

@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿ Esta seguro de eliminar ?')) {
                event.preventDefault();
            }
        })
    </script>
}

<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <thead>
                    <tr>
                        <th>Crear Proveedor</th>

                    </tr>
                </thead>
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:50%">
                    <thead>
                        <tr>

                            <p>
                                @Html.ActionLink("Crear Proveedor", "Create")
                            </p>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>

    </div>


</div>



