@model ASP2184587.Models.producto_compra

@{
    ViewBag.Title = "Details";
}

<h2>Editar Producto Compra</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            cantidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            compra id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compra.id)
        </dd>

        <dt>
            producto nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
