@model IEnumerable<ASP2184587.Models.producto_compra>

@{
    ViewBag.Title = "Index";
}



<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Lista de Producto Compras
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:100%">
                    <thead>
                        <tr>
                            <th>cantidad</th>
                            <th>compra</th>
                            <th> producto nombre</th>
                           
                        </tr>
                    </thead>




                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.compra.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.producto.nombre)
                            </td>
                           
                           
                            <td>

                                @Html.ActionLink("Editar", "Edit", new { id = item.id })



                                @Html.ActionLink("Detalle", "Details", new { id = item.id })



                                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" }) ═
                                <button class='btn btn-primary btn-sm' type='button' onclick='abrirModal(" + data + ")'><i class='fas fa-pen'></i></button>

                                <button class='btn btn-danger btn-sm ml-2' type='button' onclick='Eliminar(" + data + ")'><i class='fa fa-trash'></i></button>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

    </div>

</div>

@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿ Esta seguro de eliminar ?')) {
                event.preventDefault();
            }
        })
    </script>
}

<div class="row m-4">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <thead>
                    <tr>
                        <th>Crear Producto Compras</th>

                    </tr>
                </thead>
            </div>
            <div class="card-body">
                <table class="display responsive nowrap" id="myTable" style="width:50%">
                    <thead>
                        <tr>

                            <p>
                                @Html.ActionLink("Crear Producto Compras", "Create")
                            </p>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>

    </div>


</div>





